/* Result.tsx */

position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;
box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 3 */

position: absolute;
width: 1440px;
height: 906px;
left: 0px;
top: 0px;

background: linear-gradient(123.27deg, #ECECEC 33.33%, #FEECE8 84.38%);


/* Rectangle 4 */

position: absolute;
width: 408px;
height: 622px;
left: 69px;
top: 169px;

background: #FFFFFF;
border-radius: 47px;


/* Rectangle 5 */

position: absolute;
width: 911px;
height: 576px;
left: 497px;
top: 279px;

background: rgba(255, 255, 255, 0.57);
border-radius: 47px;


/* predictedProfileImg */

position: absolute;
width: 284px;
height: 266px;
left: 131px;
top: 36px;

background: url(PCM20190502000402370_P2.jpg);


/* predictedText */

position: absolute;
left: 32.99%;
right: 45.35%;
top: 5.89%;
bottom: 68.33%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 117px;
text-align: center;



/* predictedPercentSection */

position: absolute;
width: 403px;
height: 400px;
left: 512px;
top: 329px;

background: #FFFFFB;
box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* predictedCelebSection */

position: absolute;
width: 1118px;
height: 63px;
left: 134px;
top: 814px;

background: #2D2D28;
box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* predictedPercentValues */

position: absolute;
width: 277px;
height: 34px;
left: 575px;
top: 632px;



/* Ellipse 24 */

position: absolute;
width: 34px;
height: 34px;
left: 656px;
top: 632px;

background: #FEDA77;


/* Ellipse 25 */

position: absolute;
width: 34px;
height: 34px;
left: 575px;
top: 632px;

background: #F58529;


/* Ellipse 26 */

position: absolute;
width: 34px;
height: 34px;
left: 737px;
top: 632px;

background: #DD2A7B;


/* Ellipse 27 */

position: absolute;
width: 34px;
height: 34px;
left: 818px;
top: 632px;

background: #8134AF;


/* predictedInformationSection */

position: absolute;
width: 403px;
height: 400px;
left: calc(50% - 403px/2 + 466.5px);
top: calc(50% - 400px/2 + 79px);

background: #FFFFFB;
box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* predictedInformationDescription */

position: absolute;
width: 369px;
height: 333px;
left: 87px;
top: 422px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000;



/* Information */

position: absolute;
width: 254px;
height: 38px;
left: 69px;
top: 372px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #465778;



/* predictedPercentGraphs */

position: absolute;
width: 284.24px;
height: 284.24px;
left: 571px;
top: 343px;



/* Ellipse 1 */

position: absolute;
width: 201px;
height: 201px;
left: calc(50% - 201px/2 + 95.28px);
top: calc(50% - 201px/2 - 6.5px);

border: 15px solid #FEDA77;
box-sizing: border-box;
border-radius: 30px;
transform: rotate(45.67deg);


/* Ellipse 16 */

position: absolute;
width: 201px;
height: 201px;
left: calc(50% - 201px/2 + 235.74px);
top: calc(50% - 201px/2 + 137.28px);

border: 15px solid #DD2A7B;
box-sizing: border-box;
border-radius: 30px;
transform: rotate(135.67deg);


/* Ellipse 20 */

position: absolute;
width: 201px;
height: 201px;
left: calc(50% - 201px/2 + 91.96px);
top: calc(50% - 201px/2 + 277.74px);

border: 15px solid #8134AF;
box-sizing: border-box;
border-radius: 30px;
transform: rotate(-134.33deg);


/* Ellipse 21 */

position: absolute;
width: 201px;
height: 201px;
left: calc(50% - 201px/2 - 48.5px);
top: calc(50% - 201px/2 + 133.96px);

border: 15px solid #F58529;
box-sizing: border-box;
border-radius: 30px;
transform: rotate(-44.33deg);


/* celebSectionTitle */

position: absolute;
width: 253px;
height: 60px;
left: 112px;
top: 826px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 84px;
text-align: center;
text-decoration-line: underline;



/* celebName */

position: absolute;
width: 70px;
height: 19px;
left: 397px;
top: 836px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFB441;



/* celebImg */

position: absolute;
width: 49px;
height: 49px;
left: 337px;
top: 821px;

background: url(PCM20190502000402370_P2.jpg);


/* image 1 */

position: absolute;
width: 22px;
height: 21px;
left: 143px;
top: 817px;

background: url(image.png);


/* Line 1 */

position: absolute;
width: 49px;
height: 0px;
left: 477px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* Line 2 */

position: absolute;
width: 49px;
height: 0px;
left: 477px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* Line 8 */

position: absolute;
width: 49px;
height: 0px;
left: 323px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* celebName */

position: absolute;
width: 70px;
height: 19px;
left: 548px;
top: 836px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFB441;



/* celebImg */

position: absolute;
width: 49px;
height: 49px;
left: 488px;
top: 821px;

background: url(PCM20190502000402370_P2.jpg);


/* Line 3 */

position: absolute;
width: 49px;
height: 0px;
left: 628px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* celebName */

position: absolute;
width: 70px;
height: 19px;
left: 699px;
top: 836px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFB441;



/* celebImg */

position: absolute;
width: 49px;
height: 49px;
left: 639px;
top: 821px;

background: url(PCM20190502000402370_P2.jpg);


/* Line 4 */

position: absolute;
width: 49px;
height: 0px;
left: 779px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* celebName */

position: absolute;
width: 70px;
height: 19px;
left: 850px;
top: 836px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFB441;



/* celebImg */

position: absolute;
width: 49px;
height: 49px;
left: 790px;
top: 821px;

background: url(PCM20190502000402370_P2.jpg);


/* Line 5 */

position: absolute;
width: 49px;
height: 0px;
left: 930px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* celebName */

position: absolute;
width: 70px;
height: 19px;
left: 1001px;
top: 836px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFB441;



/* celebImg */

position: absolute;
width: 49px;
height: 49px;
left: 941px;
top: 821px;

background: url(PCM20190502000402370_P2.jpg);


/* Line 6 */

position: absolute;
width: 49px;
height: 0px;
left: 1081px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* celebName */

position: absolute;
width: 70px;
height: 19px;
left: 1152px;
top: 836px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFB441;



/* celebImg */

position: absolute;
width: 49px;
height: 49px;
left: 1092px;
top: 821px;

background: url(PCM20190502000402370_P2.jpg);


/* Line 7 */

position: absolute;
width: 49px;
height: 0px;
left: 1232px;
top: 821px;

border: 1px solid #535353;
transform: rotate(90deg);


/* Rectangle 9 */

position: absolute;
width: 394px;
height: 81px;
left: 996px;
top: 25px;

border: 2px solid #CBCBCB;
box-sizing: border-box;
border-radius: 10px;


/* Rectangle 6 */

position: absolute;
width: 262px;
height: 18px;
left: 1106px;
top: 534px;

background: linear-gradient(90deg, #FF0000 12.21%, rgba(255, 0, 0, 0.25) 50.39%);
border-radius: 20px;


/* Rectangle 7 */

position: absolute;
width: 262px;
height: 18px;
left: 1106px;
top: 583px;

background: linear-gradient(90deg, #FFB441 63.12%, rgba(255, 180, 65, 0.31) 69.29%);
border-radius: 20px;


/* Rectangle 8 */

position: absolute;
width: 262px;
height: 18px;
left: 1106px;
top: 632px;

background: linear-gradient(90deg, #DD2A7B 12.21%, rgba(221, 42, 123, 0.3) 71.99%);
border-radius: 20px;


/* Rectangle 10 */

position: absolute;
width: 262px;
height: 18px;
left: 1106px;
top: 681px;

background: linear-gradient(90deg, #8134AF 12.21%, rgba(129, 52, 175, 0.34) 50.39%);
border-radius: 20px;


/* image 4 */

position: absolute;
width: 60.6px;
height: 60px;
left: 1088px;
top: 35px;

background: url(image.png);


/* image 5 */

position: absolute;
width: 60px;
height: 60px;
left: 1010px;
top: 35px;

background: url(image.png);


/* I & E N & S F & T P & J */

position: absolute;
width: 88px;
height: 184px;
left: calc(50% - 88px/2 + 327px);
top: calc(50% - 184px/2 + 162px);

font-family: Rancho;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 48px;
/* or 160% */
text-align: center;

color: #000000;



/* I : 내향적 vs 외향적 : E N : 직관적 vs 감각적 : S F : 감정적 vs 사고적 : T P : 인식적 vs 판단적 : J */

position: absolute;
width: 365px;
height: 166px;
left: 1012px;
top: 343px;

font-family: Rancho;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 42px;
/* or 140% */
text-align: center;
letter-spacing: 0.125em;

color: #000000;



/* Facebook_b 1 */

position: absolute;
width: 60px;
height: 60px;
left: 1245px;
top: 35px;

background: url(Facebook_b.png);


/* Github_b 1 */

position: absolute;
width: 60px;
height: 60px;
left: 1167px;
top: 35px;

background: url(Github_b.jpg);


/* image 3 */

position: absolute;
width: 56.59px;
height: 60px;
left: 1323px;
top: 35px;

background: url(image.png);
